<div class="content">
  <section class="signin ">
      <div class="container">
          <div class="signin-left">
              <div class="sign-title">
                  <h1>Quên mật khẩu</h1>
              </div>
          </div>
          <div class="signin-right " id="a-sign">
            <form action="">
              <div class="username form-control1 ">
                 <h2>Nhập email</h2>
              </div>
              <div class="password form-control1">
                  <input type="email" name="email" id="email" placeholder="Email"  #email
                  pattern = "/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/">
              </div>

              <div class="recaptcha form-control1">This site is protected by reCAPTCHA and the Google <a href="">Privacy Policy</a> and <a href="">Terms of Service</a> apply.</div>
              <div class="submit">
                <input class="btn" type="submit" (click)="sendMail(email.value)" value="Gửi" >
                <div class="forgetpassword">
                      <a routerLink="/login" id="huy">Hủy</a>
                </div>

              </div>

          </form>
          </div>

      </div>
  </section>
</div>

